@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-vertical {
  transform: rotateX(90deg);
}
.flip-horizontal {
  transform: rotateY(90deg);
}
.flip-right {
  transform: rotate(90deg);
}
